body.vertical-layout.vertical-menu-modern .horizontal-menu-wrapper {
  display: none;
}

.horizontal-menu > .main-menu {
  display: none;
}
.horizontal-menu .fixed-top {
  left: 0;
}

html body.navbar-static .app-content .header-navbar {
  background: transparent;
  box-shadow: none !important;
}

@media (max-width: 575.98px) {
  body.vertical-layout:not(.horizontal-layout).navbar-floating .header-navbar {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}

.gap-10{
  gap: 10px;
}

/* calendar date highlight */
.cool-date {
  background-color: #55e039;
  position: relative;
  }

  .cool-date > span {
  display:none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #222;
  min-width: 80px;
  }

  .cool-date:hover > span {
  display: inline-block;
  }

  .cool-date2 {
  background-color: green;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e6b7b !important;
  }

  .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    border-color: #d8d6de !important;
  }

  .form-control::placeholder,
  .select2-container--default .select2-search--inline .select2-search__field::placeholder {
    color: #d8d6de !important;
    font-weight: 400 !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #d8d6de !important;
    font-weight: 400 !important;
  }
  .form-control, .form-control:focus {
    color: #000;
    font-weight: 400 !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b{
    padding:0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
    position: absolute;
    top: 2px;
    right: 5px;
    width: 30px !important;
  }