@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Urbanist:wght@200;300;400;500&display=swap');



.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-X: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Urbanist', sans-serif;

}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
/*- Sub Menu -*/
.sub-menu{
    background-color: #222222;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}
.sub-menu p{
    font-size: 13px;
    margin-bottom: 0px !important;
}
/* Navbar */
.navbar-custom {
    height: 65px;
    background-color: #ffaa46;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

.custom-btn {
    border-radius: 5px;
    background-color: #ffaa46;;
    border: 1px solid #fff;
    font-size: 15px;
    padding: 8px 25px;
    color: #fff;
}

.custom-btn:focus {
    background-color: #fff;
    color: #323232;
}

.custom-btn:hover {
    background-color: #fff;
    color: #323232;
    transition: 0.9s;
}

.navbar-custom .nav-link {
    color: #fff !important;
    font-size: 15px;
    padding-left: 20px !important;
    padding-right: 10px !important;
}

.navbar-custom .nav-link:hover {
    background-color: #fff;
    color: #323232 !important;
    border-radius: 5px;
    transition: 0.9s;

}

.empl-link {
    color: #222222;
    padding: 0.5em;
    font-size: 15px;
}

/*--- Mobile ---*/
.menu-heading {
    font-size: 16px;
    margin-left: 11px;
}

.offcanvas {
    width: 300px !important;
}

.offcanvas-header {
    border-bottom: 1px solid #2222;
}

.icon-close-custom {
    font-size: 13px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
    vertical-align: 0em !important;
    padding: 4px 10px !important;
}

.navbar-toggler {
    border: none !important;
    color: #222222;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/*- How it works -*/
.how-it-works-section {
    margin-bottom: 50px;
}

.how-it-works-card h3 {
    margin-bottom: 15px;

}

.how-it-works-card p {
    color: #222222;
    font-size: 15px;
}

.how-it-works-card {
    /* border: 1px solid #222222; */
    padding: 25px 25px;
}

/*- Popular Courses -*/
.form-model {
    padding: 8px 35px;
    /* height: 400px;
   
    overflow-y: scroll; */
}

.form-model::-webkit-scrollbar {
    width: 5px;
}

.form-label {
    font-size: 15px;
    color: #5d5d5d;
}

.form-control-custom {
    height: 39px;
    border-radius: 10px;
    font-size: 14px;

}

.form-control-customs {

    border-radius: 10px;
}

.btn-customs {
    background-color: #ffaa46 !important;
    color: #fff;
}
.btn-customs:hover {
    background-color: #ffaa46 !important;
    color: #fff;
}
.btn-customs:focus{
    color: #323232 !important;
}
.form-select {
    font-size: 15px;
    color: #5d5d5d;
}
/* Product */
.product-sc{
    background-color: #fffaf5;
    padding: 3rem 0rem;
}
.landing-page-main-heading{
    color: #ffaa46;
    font-size: 30px;
    border-bottom: 2px solid #ffaa46;
    max-width: fit-content;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.landing-page-sub-heading{
    color: #323232;
    font-size: 15px;
    margin-top: -6px;
    margin-bottom: 50px;
}
.prduct-card{
    background-color: #fff;
    transition: all .5s ease;
    margin-bottom: 20px;
    
}
.prduct-card:hover{
    transform: translateY(-5px);
    
}
.product-card-sc{
    padding: 15px 20px 25px 20px;
}
.prduct-card-heading{
    font-size: 17px;
    font-weight: 500;
}
.prduct-card-sub-heading{
    font-size: 15px;
    margin-top: -10px;
    color: #909090;
}
a.read-more{
    color: #ffaa46;
    border: 1px solid #ffaa46;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}

/*- our-custom-card -*/
.our-custom-card{
    border: 1px solid #ffe5c7;
    text-align: center;
    padding: 25px 10px;
    background-color: #fff3cd;
    border-radius: 10px;
    margin-bottom: 20px;
}
.our-custom-card h5{
   margin-top: 10px;
   font-weight: 500;
}

.our-custom-card p{
    color: #5d5d5d;
    font-size: 14px;
}
/* Footer */
.footer-section {
    background-color: #222222;
    padding: 60px 0px 15px 0px;
    
}

.footer-link-sc {
    padding: 0px 17px;
}

.footer-link-main-heading {
    color: #fff;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 400 !important;
    border-bottom: 3px solid #ffaa46;
    padding-bottom: 5px;
    border-radius: 2px;
    width: fit-content;
}

.footer-link-sc ul {
    margin-bottom: 25px;
}

.footer-link-sc ul li {
    margin-bottom: 10px;
}

.footer-link-sc ul li a {
    color: #FFFFFFA1;
    font-size: 14px;
}

.footer-link-sc ul li a:hover {
    color: #fff;
    transition: 0.9s;
}

.footer-line {
    background-color: #373737;
    height: 1px;
    margin-top: 15px;
}

.reserved-text {
    color: #fff;
    font-size: 15px;
    padding: 25px 0px;
}



@media only screen and (max-width: 600px) {

    .navbar-custom {
        height: auto;
    }

    .navbar-custom .nav-link {
        color: #222222 !important;
    }

    .navbar-custom .nav-link:hover {
        color: #1f4b3f;
    }

    .custom-btn {
        width: 100%;
        background-color: #ffaa46;
        margin-bottom: 5px;
        color: #fff;
    }

    .empl-link {
        color: #222222;
    }
}

.dropdown-menu.show {
    display: block;
    left: -31px;
    margin-top: 4px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #ffaa46;
    color: #fff;
}
.dropdown-item{color:#fff}

.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: hsla(39, 100%, 68%, 1);
}